-- Enable RLS and create policies for all tables

-- Students table
ALTER TABLE students ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Service
role
can
access
students\ ON students FOR ALL USING (true) WITH CHECK (true);

-- Scores table  
ALTER TABLE scores ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Service
role
can
access
scores\ ON scores FOR ALL USING (true) WITH CHECK (true);

-- Selections table
ALTER TABLE selections ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Service
role
can
access
selections\ ON selections FOR ALL USING (true) WITH CHECK (true);

-- Schools table
ALTER TABLE schools ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Service
role
can
access
schools\ ON schools FOR ALL USING (true) WITH CHECK (true);

-- Notifications table
ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Service
role
can
access
notifications\ ON notifications FOR ALL USING (true) WITH CHECK (true);
